{%extends "base.html"%}

{%block title%} Editar Vuelo {%endblock%}

{%block body%}
    <h1>Admin - Editar Vuelo</h1>
    <br>
    <form action="{{ url_for('editar_vuelo') }}" method="POST" name="formAgregarVuelo" onsubmit="validar_formulario();">
        <p>ID del vuelo: {{form.id_vuelo}} </p>
        <p>Ciudad origen: {{form.origen}}</p>
        <p>Ciudad destino: {{form.destino}}</p>
        <p>Hora de salida: {{form.hora_salida}} </p>
        <p>Hora de llegada: {{form.hora_llegada}} </p>
        <p>Fecha: {{form.fecha}} </p>
        <p>Piloto: {{form.piloto}} </p>
        <p>Trama de asientos: {{form.asientos}} </p>
        <p>Valor: {{form.valor}} </p>
        <p>{{form.enviar}}</p>
{%endblock%}