<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <form action="/Iniciar_Sesion", method="POST">
        {{csrf_token}}
        <input type="text" name="nombre" id="nombre" placeholder="Indique su nombre">
        <input type="submit" value="Iniciar Sesión">
    </form>
</body>
</html>