{%extends "base.html"%} {%block title%} inicio {%endblock%} {%block body%}
<h1>¡Encuentra tus vuelos deseados aquí!</h1>

{%if sesion_iniciada:%}
<p>Bienvenido {{nombre}}</p>
<p>Busca en el cuadro de abajo un vuelo para iniciar</p>
{%else:%}
<p>Busca en el cuadro de abajo un vuelo para iniciar; recuerda que para reservar vuelos debes iniciar sesión.</p>
{%endif%}

<div class="buscador" style="height: 150px;margin-left:auto;margin-right:auto;background-image: url({{url_for('static',filename='images/background_search_box.png')}}); background-position: 50%; background-repeat:repeat-y;">
    <br>
  <form class="buscador" action="/Buscar_vuelos" style="padding-left:10px;" method="POST">
    {{form.hidden_tag()}}
    <input type="radio" name="ida" id="ida_y_vuelta" value="IV" onclick="ida_vuelta()" checked/>Ida y Vuelta
    <input type="radio" name="ida" id="ida_y_vuelta_SI" value="I" onclick="soloIda()"/>Solo ida <br /><br />
    <div class="buscador" style="float: left; margin-right: 20px">
      <h3>¿A donde viajas?</h3>
      {{form.origen()}}
      {{form.destino()}}
    </div>

    <div class="buscador" style="float: left; margin-right: 20px">
      <h3>¿Cuando Viajas?</h3>
      {{form.fecha}}
      {{form.fecha_vuelta}}
      
    </div>

    <div class="buscador" style="float: left; margin-right: 20px">
        <h3>¿Con quién viajas?</h3>
        <input style="width: 25px;" type="number" name="adultos" id="adultos" value="1"> Adultos <input style="width: 25px;" type="number" name="niños" id="niños"> Niños 
    </div>

    <div class="buscador" style="float: right; margin-right: 20px">
        <input type="submit" value="Buscar!" 
        style="height:80px;
        width:80px;
        background-color: rgb(228, 53, 53);
        color:white;
        font-size:15px;
        font-style: italic">
    </div>
  </form>
</div>
<script type="text/javascript">
  function soloIda() {
    document.getElementById("fecha_vuelta").style.opacity="0";
  }
  function ida_vuelta() {
    document.getElementById("fecha_vuelta").style.opacity="1";
    document.getElementById("fecha_vuelta").style.userSelect="auto";
  }
</script>

{%endblock%}

