{%extends "base.html"%}

{%block title%} inicio {%endblock%}

{%block body%}
    <h1>Página de inicio</h1>
    
    
    {%if sesion_iniciada:%}
        <p>Bienvenido {{nombre}}</p>
        <br>
        <p>Seleccione un vuelo para iniciar el proceso de reserva</p>
        <form action="/cerrar_sesion" method="POST">
            {{csrf_token}}

            <input type="submit" value="Cerrar Sesion">
        </form>
    {%else:%}
        
        <p>Para reservar vuelos debes <a href="/Iniciar_Sesion">iniciar sesión.</a></p>
    {%endif%}
{%endblock%}