{%extends "base.html"%} {%block title%} Reserva tu vuelo {%endblock%} {%block
body%}
<h1>¡Encuentra tus vuelos deseados aquí!</h1>

{%if sesion_iniciada:%}
<p>Bienvenido {{nombre}}</p>
<p>Seleccione un vuelo para iniciar el proceso de reserva</p>
{%else:%}
<p>Para reservar vuelos debes iniciar sesión.
{%endif%}

<div
  style="background-image: url({{url_for('static',filename='images/background_search_box.png')}}); background-position: 50%; background-repeat:repeat-y;color: white"
>
  <center>
    <h1>VUELO(S) SELECCIONADO(S)</h1>

    <table class="resultados">
      <tr>
        <th>Hora de salida</th>
        <th>Hora de llegada</th>
        <th>Económica</th>
        <th>Promo</th>
        <th>Ejecutiva</th>
      </tr>

      <tr>
        <td>
          <input type="radio" name="vuelo_ida" value="id1" required checked />
          10:00
        </td>
        <td>11:00</td>
        <td>$100.000</td>
        <td>$150.000</td>
        <td>$250.000</td>
      </tr>

      <tr>
        <td><input type="radio" name="vuelo_ida" value="id2" /> 13:00</td>
        <td>14:00</td>
        <td>$110.000</td>
        <td>$170.000</td>
        <td>$300.000</td>
      </tr>
    </table>

    <br />
  </center>
</div>

<center>
  <div class="pagos">
    <h1>Selecciona tu medio de pago</h1>
    <form action="">
      <div class="pagos">
        <h2><input type="radio" name="pago" value="pse" /> Pagar por PSE</h2>
      </div>

      <div class="pagos">
        <h2>
          <input type="radio" name="pago" value="credito" /> Pagar con tarjeta
          de crédito
        </h2>
      </div>

      <div class="pagos">
        <h2>
          <input type="radio" name="pago" value="consignacion" /> Pagar con
          consignación bancaria
        </h2>
      </div>

      <input
        type="submit"
        value="¡Finaliza tu reserva!"
        style="
          font-size: 30px;
          height: 80px;
          background-color: rgb(228, 53, 53);
          color: white;
          font-style: italic;
        "
      />
    </form>
  </div>
</center>

{%endblock%}
